.wrapper{
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: #91b7c7;
    height: 900px;
}

#left{
    float: left;
    width: 190px;
    height: 200px;
    padding: 5px;
    overflow: scroll;
    font-size: 20px;
    background-color:#BC9391;
}

#right{
    float: right;
    width: 190px;
    height: 200px;
    padding: 5px;
    overflow: scroll;
    font-size: 20px;
    background-color: #BC9391;
}

#pic{
    width: 500px;
    float: left;
}

#header{
    text-align: center;
    background-color: #91b7c7;
    height: 100px;
    line-height: 100px;
    padding-bottom: 5px;
}

#img{
    width: 100%;
}

